<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/public/all_profile_styles.css" />
		<title>KJD 기자단</title>
	</head>
	<body>
		<%- include("header.ejs") %>
		<h1>KJD 기자단</h1>
		<div class="all-container">
			<% users.forEach(user => { %>
			<!-- 프로필 전체를 링크로 감쌈 -->
			<a href="/profile/<%= user.id %>" class="profile-link">
				<div class="profile-container">
					<img src="\<%= user.photo %>" alt="profile image" id="photo" />
					<div class="name">
						<h2><%= user.username %> 기자</h2>
						<h3>작성한 기사: <%= user.articleCount %>개</h3>
					</div>
				</div>
			</a>
			<% }) %>
		</div>
		<hr />
		<!-- 저작권 표시 -->
		<p class="copyright">[ⓒ 2024. KJD All rights reserved. 무단전재 및 재배포 금지]</p>
	</body>
</html>
