<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/public/category_styles.css" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.png" />
		<title><%= category %> 뉴스 - KJD</title>
	</head>
	<body>
		<%- include("header") %>
		<h1><%= category %> 기사 목록</h1>
		<div class="others">
			<div class="news">
				<% articles.forEach(article => { %>
				<p>
					<a href="/articles/<%= article.id %>"> <%= article.title %> <span id="when"><br> <%= article.createdAtFormatted %></span></a>
				</p>
				<% }) %>
			</div>
		</div>
				<!-- 저작권 표시 -->
				<p class="copyright">[저작권자 © KJD, 무단전재 및 재배포 금지]</p>
	</body>
</html>
