<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.png" />
		<link rel="stylesheet" href="/public/edit_styles.css" />
		<title>기사 수정</title>
	</head>
	<body>
		<%- include("header") %>
		<div class="edit">
			<form action="/articles/<%= article.id %>/edit" method="POST">
				<div class="container">
					<h3>제목</h3>
					<input type="text" id="title-input" name="title" value="<%= article.title %>" required />
				</div>
				<div class="container">
					<h3>내용</h3>
					<textarea id="content-input" name="content" rows="5" required><%= article.content %></textarea>
				</div>
				<button type="submit" id="submit">기사 업데이트하기</button>
			</form>
			<a href="/articles/<%= article.id %>"><button id="cancel">취소</button></a>
		</div>
	</body>
</html>
