<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/public/edit_profile_styles.css" />
		<title>Profile</title>
	</head>
	<body>
		<%-include("header.ejs") %>
		<img src="<%= user.photo %>" alt="profile image" />
		<h1><%= user.username %>'s Profile</h1>
		<p><strong>Bio:</strong> <%= user.bio || "No bio yet." %></p>
		<% if (sessionId === user.id ) { %>
		<!-- 자기소개 수정 폼 -->
		<div class="info">
			<form action="/profile/<%= user.id %>/edit" method="POST">
				<div class="container">
					<h3>ID</h3>
					<input type="text" id="id-input" name="id" value="<%= user.id %>" required />
				</div>
				<div class="container">
					<h3>PW</h3>
					<input type="text" id="pw-input" name="pw" value="<%= user.pw %>" required />
				</div>
				<div class="container">
					<h3>BIO</h3>
					<textarea name="bio" rows="4" cols="50"><%= user.bio %></textarea>
				</div>
				<button type="submit">프로필 수정</button>
			</form>
			<a href="/profile/<%= user.id %>"><button id="cancel">취소</button></a>
		</div>
		<% } %>

		<h2>Articles</h2>
		<ul>
			<% articles.forEach(article => { %>
			<li>
				<a href="/articles/<%= article.id %>">[<%= article.category %>] <%= article.title %></a>
				<%= article.createdAtFormatted %>
			</li>
			<br />

			<% }) %>
		</ul>
	</body>
</html>
