<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/public/edit_profile_styles.css" />
		<title>Profile</title>
	</head>
	<body>
		<%-include("header.ejs") %>
		<img src="<%= user.photo %>" alt="profile image" />
		<h1><%= user.username %>'s Profile</h1>
		<% if (sessionId === user.id ) { %>
		<!-- 자기소개 수정 폼 -->
		<div class="info">
			<form action="/profile/<%= user.id %>/edit" method="POST">
				<div class="container">
					<h3>ID</h3>
					<input type="text" id="id-input" name="usernameN" value="<%= user.username %>" required />
				</div>
				<div class="container">
					<h3>PW</h3>
					<input type="text" id="pw-input" name="nohashN" value="<%= user.nohash %>" required />
				</div>
				<div class="container">
					<h3>BIO</h3>
					<input type="text" id="bio-input" name="bioN" value="<%= user.bio %>" required />
				</div>
				<div class="button-container">
					<button type="submit" id="submit">프로필 수정</button>
				</div>
			</form>
			<a href="/profile/<%= user.id %>"><button id="cancel">취소</button></a>
			<button id="delete-account-btn">Delete Account</button>
		</div>
		<% } %>

		<ul class="ul">
			<% articles.forEach(article => { %>
			<div class="writenNews">
				<li id="categoryAndTitle">
					<p><a href="/articles/<%= article.id %>">[<%= article.category %>] <%= article.title %></a> <span id="when"><%= article.createdAtFormatted %></span></p>
					<div class="action-buttons">
						<a href="/articles/<%= article.id %>/edit" class="icon-button" title="Edit" id="edit-each">수정</a>
						<form action="/articles/<%= article.id %>/delete" method="POST" style="display: inline" title="Delete">
						<button type="submit" class="icon-button-delete" id="delete-each">삭제</button>
						</div>
				</li>
			</div>
			<% }) %>
		</ul>
	</body>
</html>
<script>
	document.getElementById("delete-account-btn").addEventListener("click", async () => {
		const confirmation = confirm("Are you sure you want to delete your account? This action cannot be undone.");
		if (confirmation) {
			try {
				const response = await fetch("/delete-account", {
					method: "DELETE",
				});
				const result = await response.json();

				alert(result.message);

				if (response.ok) {
					window.location.href = result.redirectUrl; // 서버에서 제공한 URL로 리다이렉트
				}
			} catch (err) {
				console.error("Error deleting account:", err);
			}
		}
	});
</script>
