<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/public/index_styles.css" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.png" />
		<title>KJD</title>
	</head>
	<body>
		<%-include("header.ejs") %>

		<ul>
			<% mainArticle.forEach(article => { %>
			<li>
				<h1 class="main-title"><a href="/articles/<%= article.id %>"><%= article.title %></a></h1>
			</li>
			<li class="main-news">
				<div class="article-container">
					<p><%- article.content.length > 200 ? article.content.substring(0, 200) + '...' : article.content %> <% if (article.attachment) { %></p>
					<p><%= article.createdAtFormatted %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= article.author_name %> 기자</p>
				</div>
				<img src="/<%= article.attachment %>" alt="<%= article.title %>" width="300" />
				<% } %>
			</li>
			<% }) %>
		</ul>

		<div class="others">
			<ul class="others-title">
				<% articles.forEach(article => { %>
				<div>
					<li>
						<a href="/articles/<%= article.id %>">[<%= article.category %>] <%- article.title.length > 25 ? article.title.substring(0, 25) + '...' : article.title %> </a><br>
						<span id="when">&nbsp<%= article.createdAtFormatted %></span>
					</li>
				</div>
				<% }) %>
			</ul>

			<ul class="top-news">
				<h3>실시간 TOP 기사</h3>
				<% topArticles.forEach(article => { %>
				<div class="content">
					<li>
						<div class="sub">
							<div class="category"><%= article.category %></div>
							<a href="/articles/<%= article.id %>"> <%- article.title.length > 20 ? article.title.substring(0, 20) + '...' : article.title %> </a>
						</div>
					</li>
				</div>
				<% }) %>
				
			</ul>
			<div class="pagination">

			
				<% for (let i = 1; i <= totalPages; i++) { %>
					<a href="/?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
				<% } %>
			
			</div>
			
			
		</div>
		<!-- 저작권 표시 -->
		<p class="copyright">[저작권자 © KJD, 무단전재 및 재배포 금지]</p>
	</body>
</html>
