<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/public/index_styles.css" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.png" />
		<title>KJD</title>
	</head>
	<body>
		<%-include("header.ejs") %>

		<ul>
			<% mainArticle.forEach(article => { %>
			<li>
				<h1 class="main-title"><a href="/articles/<%= article.id %>"><%= article.title %></a></h1>
			</li>
			<li class="main-news">
				<div class="article-container">
					<p><%- article.content.length > 280 ? article.content.substring(0, 280) + '...' : article.content %> <% if (article.attachment) { %></p>
					<p><%= article.createdAtFormatted %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= article.author_name %> 기자</p>
				</div>
				<img src="/<%= article.attachment %>" alt="<%= article.title %>" width="300" />
				<% } %>
			</li>
			<% }) %>
		</ul>

		<div class="others">
			<ul class="others-title">
				<% articles.forEach(article => { %>
				<div>
					<li>
						<a href="/articles/<%= article.id %>"> <%- article.title.length > 30 ? article.title.substring(0, 30) + '...' : article.title %> </a>
						<span id="when">&nbsp<%= article.createdAtFormatted %></span>
					</li>
				</div>
				<% }) %>
			</ul>

			<ul class="top-news">
				<h3>실시간 TOP 기사</h3>
				<% topArticles.forEach(article => { %>
				<div class="content">
					<li>
						<div class="sub">
							<div class="category"><%= article.category %></div>
							<a href="/articles/<%= article.id %>"> <%- article.title.length > 20 ? article.title.substring(0, 20) + '...' : article.title %> </a>
						</div>
					</li>
				</div>
				<% }) %>
			</ul>
		</div>
	</body>
</html>
