<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/public/profile_styles.css" />
		<title>KJD <%= user.username %> 기자</title>
	</head>
	<body>
		<%-include("header.ejs") %>
		<!-- <img src="<%= user.photo %>" alt="profile image" id="photo" /> -->
		<div class="profile-container">
			<img src="\<%= user.photo %>" alt="profile image" id="photo" />
			<div class="name">
				<h1 style="display: inline"><%= user.username %> 기자</h1>
				<% if (sessionId === user.id ) { %>
				<!-- 자기소개 수정 아이콘 -->
				<a href="/profile/<%= user.id %>/edit" class="icon-button" title="Edit" style="display: inline">
					<i class="fas fa-edit"></i>
				</a>
				<% } %>
			</div>
			<p id="bio">"<%= user.bio || "No bio yet." %>"</p>
		</div>

		<div class="news-container">
			<ul>
				<% articles.reverse().forEach(article => { %>
				<!-- 여기서 reverse() 사용 -->
				<li>
					<a href="/articles/<%= article.id %>">[<%= article.category %>] <%= article.title %></a><br>
					<span id="when">&nbsp<%= article.createdAtFormatted %></span>
				</li>
				<hr />
				<% }) %>
			</ul>
		</div>
		<!-- 저작권 표시 -->
		<p class="copyright">[저작권자 © KJD, 무단전재 및 재배포 금지]</p>
	</body>
</html>
