<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/public/profile_styles.css" />
		<title>Profile</title>
	</head>
	<body>
		<%-include("header.ejs") %>
		<!-- <img src="<%= user.photo %>" alt="profile image" id="photo" /> -->
		<div class="profile-container">
			<img
				src="https://img-cdn.pixlr.com/image-generator/history/65bb506dcb310754719cf81f/ede935de-1138-4f66-8ed7-44bd16efc709/medium.webp"
				alt="profile image"
				id="photo" />
			<div class="name">
				<h1 style="display: inline"><%= user.username %> 기자</h1>
				<% if (sessionId === user.id ) { %>
				<!-- 자기소개 수정 아이콘 -->
				<a href="/profile/<%= user.id %>/edit" class="icon-button" title="Edit" style="display: inline">
					<i class="fas fa-edit"></i>
				</a>
				<button id="delete-account-btn">Delete Account</button>

				<% } %>
			</div>
			<p id="bio">"<%= user.bio || "No bio yet." %>"</p>
		</div>

		<div class="news-container">
			<ul>
				<% articles.forEach(article => { %>
				<li>
					<a href="/articles/<%= article.id %>">[<%= article.category %>] <%= article.title %></a>
					<span id="when">&nbsp<%= article.createdAtFormatted %></span>
				</li>
				<hr />

				<% }) %>
			</ul>
		</div>
	</body>
</html>
<script>
	document.getElementById("delete-account-btn").addEventListener("click", async () => {
		const confirmation = confirm("Are you sure you want to delete your account? This action cannot be undone.");
		if (confirmation) {
			try {
				const response = await fetch("/delete-account", {
					method: "DELETE",
				});
				const result = await response.json();

				alert(result.message);

				if (response.ok) {
					window.location.href = result.redirectUrl; // 서버에서 제공한 URL로 리다이렉트
				}
			} catch (err) {
				console.error("Error deleting account:", err);
			}
		}
	});
</script>
