<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Profile</title>
	</head>
	<body>
		<%-include("header.ejs") %>
		<h1><%= user.username %>'s Profile</h1>
		<p><strong>Bio:</strong> <%= user.bio || "No bio yet." %></p>

		<% if (sessionId === user.id ) { %>
		<!-- 자기소개 수정 폼 -->
		<form action="/profile/<%= user.id %>" method="POST">
			<input type="text" id="id-input" name="id" value="<%= use.id %>" required />
			<input type="text" id="pw-input" name="pw" value="<%= use.pw %>" required />
			<textarea name="bio" rows="4" cols="50"><%= user.bio %></textarea>
			<button type="submit">프로필 수정</button>
		</form>
		<% } %>

		<h2>Articles</h2>
		<ul>
			<% articles.forEach(article => { %>
			<li>
				<a href="/articles/<%= article.id %>">[<%= article.category %>] <%= article.title %></a>
				<%= article.createdAtFormatted %>
			</li>
			<br />

			<% }) %>
		</ul>
	</body>
</html>
