<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/public/article_styles.css" />
		<link rel="icon" type="image/x-icon" href="favicon.png" />

		<title><%= article.title %> -</title>
	</head>
	<body>
		<%-include("header.ejs") %>

		<div class="container">
			<!-- 기사 내용 영역 -->
			<main>
				<div class="categoryandtitle">
					<h1><%= article.title %></h1>
					<p class="main-title">
						<a href="/articles/category/<%= article.category %>" class="categoryman"><%= article.category %></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
							href="/profile/<%= article.author_id %>"
							><%= article.author_name %> 기자</a
						>
					</p>
				</div>
				<!-- 기사를 쓴 날짜 추가 -->
				<div class="article-date">
					<div>
						<div>업로드: <%= article.createdAtFormatted %></div>
						<div id="no-padding">조회수: <%= article.views %>회</div>
					</div>
					<div class="action-buttons">
						<% if (article.author_id === useId) { %>
						<a href="/articles/<%= article.id %>/edit" class="icon-button" title="Edit">
							<i class="fas fa-edit"></i>
						</a>
						<form id="deleteForm" action="/articles/<%= article.id %>/delete" method="POST" style="display: inline" title="Delete">
							<button type="submit" class="icon-button-delete" onclick="confirmDelete('{{ articleId }}')">
								<i class="fas fa-trash-alt"></i>
							</button>
						</form>
						<% } %>
						<button onclick="copyLink()" class="icon-button" title="Share">
							<i class="fas fa-share-alt"></i>
						</button>
					</div>
				</div>

				<hr />

				<!-- 기사 내용 -->
				<div class="content-container">
					<p><%- article.content %></p>
					<% if (article.attachment) { %>
					<div>
						<img src="/<%= article.attachment %>" />
					</div>
					<% } %>
				</div>
			</main>
		</div>
		<hr />
		<!-- 저작권 표시 -->
		<p class="copyright">[ⓒ 2024. KJD All rights reserved. 무단전재 및 재배포 금지]</p>

		<script>
			function copyLink() {
				const link = window.location.href;
				navigator.clipboard
					.writeText(link)
					.then(() => {
						alert("링크가 클립보드에 복사되었습니다!");
					})
					.catch((err) => {
						console.error("Could not copy link: ", err);
					});
			}
			// 삭제 확인 함수
			async function confirmDelete(articleId) {
				const isConfirmed = confirm("정말 기사를 삭제하시겠습니까?");
				if (isConfirmed) {
					// 사용자가 '확인'을 눌렀을 때, POST 요청을 보냄
					try {
						const response = await fetch(`/articles/${articleId}/delete`, {
							method: "POST",
						});

						if (response.ok) {
							alert("게시글이 삭제되었습니다.");
							window.location.href = "/"; // 메인 페이지로 리디렉션
						}
					} catch (error) {
						console.error("Error:", error);
						alert("삭제 중 오류가 발생했습니다.");
					}
				} else {
					// 사용자가 '취소'를 누르면 아무것도 하지 않음
					alert("삭제가 취소되었습니다.");
				}
			}
		</script>
	</body>
</html>
