<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/public/article_styles.css" />
		<link rel="icon" type="image/x-icon" href="favicon.png" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
			integrity="sha512-Fo3rlrZj/k7ujTnHq6SlO3o8yb+TYiPQdBvAb67D8AVg9Y55ng93bhThyjaE4PCv9LMmS29EzKUGtQZuvqUqYg=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<title><%= article.title %></title>
	</head>
	<body>
		<%-include("header.ejs") %>

		<div class="container">
			<!-- 기사 내용 영역 -->
			<main>
				<div class="categoryandtitle">

					<h1><%= article.title %></h1>
					<p class="main-title">
						<%= article.author_name %> 기자  |  <a href="/articles/category/<%= article.category %>" class="categoryman">
						<%= article.category %>
					</a>
				</p>
				</div>
			<!-- 기사를 쓴 날짜 추가 -->
			<p class="article-date-and-actions">
				<span class="article-date">업로드: 	<%= article.createdAtFormatted %></span>
				<div class="action-buttons">
					<% if (article.author_id === userId) { %>
						<a href="/articles/<%= article.id %>/edit" class="icon-button" title="Edit">
							<i class="fas fa-edit"></i>
						</a>
						<form
							action="/articles/<%= article.id %>/delete"
							method="POST"
							style="display: inline;"
							title="Delete"
						>
							<button type="submit" class="icon-button-delete">
								<i class="fas fa-trash-alt"></i>
							</button>
						</form>
					<% } %>
					<button onclick="copyLink()" class="icon-button" title="Share">
						<i class="fas fa-share-alt"></i>
					</button>
				</div>
			</p>
				
				<p><%= article.views %>회</p>
				<hr />
				<!-- 기사 내용 -->
				<p><%- article.content %></p>
			</main>
		</div>
		<hr />
		<!-- 저작권 표시 -->
		<p class="copyright">[저작권자 © KJD, 무단전재 및 재배포 금지]</p>

		<script>
			function copyLink() {
				const link = window.location.href;
				navigator.clipboard
					.writeText(link)
					.then(() => {
						alert("Link copied to clipboard!");
					})
					.catch((err) => {
						console.error("Could not copy link: ", err);
					});
			}
		</script>
	</body>
</html>
